<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/less.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid" id="main">
        <div id="wrapper" class="col-lg-10 fN center-block">
            <div class="overlay"></div>
            <header>
                <div class="row">
                    <div class="col-sm-2 col-xs-2 hidden-lg hidden-md hidden-sm">
                        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                            <span class="hamb-top"></span>
                            <span class="hamb-middle"></span>
                            <span class="hamb-bottom"></span>
                        </button>
                    </div>
                    <div class="logo col-xs-8 col-sm-4">
                        <a href="~/Home/Dashboard"> <img src="~/Images/logo.jpg" alt="logo"/></a>

                    </div>
                    <div class="col-xs-2 col-sm-6 pull-right">
                        <ul class="loginNav text-right">
                            <li class="user">
                                @if (!string.IsNullOrEmpty(Convert.ToString(Session["USER_FIRSTNAME_LASTNAME"])))
                                {
                                <li> <span><img src="~/Images/avatar.png"></span>@Session["USER_FIRSTNAME_LASTNAME"] </li>
                                }
                            </li>
                            <li class="logout">
                                <span><img src="~/Images/logout.png"></span>
                                <a href="javascript:void(0)" id="logout"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="main-menu">
                    <li>@Html.ActionLink("Home", "Dashboard", "Home")  </li>
                    <li>@Html.ActionLink("Requests", "RequestSummary", "RequestSummary")</li>
                   

                   @if (!string.IsNullOrEmpty(Convert.ToString(Session["IsAdmin"])) || !string.IsNullOrEmpty(Convert.ToString(Session["IsManagar"])))
                   {
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                   }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            New Request
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Encompass", "CreateNewRequest", "EncompassRequest")</li>
                            <li>@Html.ActionLink("Active Directory", "index", "ADRequest")</li>
                            <li>@Html.ActionLink("New User IT Setup Form", "NewUserITSetup", "NewUserITSetup")</li>
                        </ul>
                    </li>
                </ul>
            </header>
            <div>
                @RenderBody()
            </div>
            <div id="push"></div>
        </div>

        <div class="col-lg-10 fN center-block">
            <footer>
                <p class="text-center">&copy; FGMC RMS</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <!--CUSTOM SCRIPTS-->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#logout").click(function () {
            if (confirm('Are you sure you want to logout of the application?')) {
                $.ajax({
                    url: '/Account/Logout',
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (response) {
                        window.location.href = response.Url;
                    },
                    error: function (response) {
                    }
                });
            }
        });
    });

</script>