<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pool Updater Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header class="container-fluid">
        <div class="col-lg-4 col-sm-6 logo">
            <a href="#"><img src="~/Images/logo.png" /></a>
        </div>


        <div class="col-lg-8 col-sm-6 ">
            <h2 class="text-right"> <b>Pool Updater</b> </h2>
            <ul class="home-nav text-right">
                @{
                    string IsAdmin = Convert.ToString(Session["IsAdminUser"]);
                    if (IsAdmin == "Yes")
                    {
                        <li id="manageUserLink">@Html.ActionLink("Manage User", "UserDetails", "ManageUser", null, null) </li>
                    }
                }
                @if (Session["CurrentlyLoggedInUser"] != null)
            {
                    <li><a href="../../Template/Pool Updater Template.xlsx" id="download">Download Template</a></li> <!-- 27th July 2016 MD: Added the template link for download-->
                    <li><a href="javascript:void(0)" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                }
            </ul>
        </div>
    </header>



    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="wrap navbar-fixed-bottom">
            <p>Pool Updater V1.0 - FGMC</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
    $("#logout").click(function () {
        if (confirm('Are you sure you want to logout of the application?')) {
            $.ajax({
                url: '/Account/Logout',
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (response) {
                    window.location.href = response.Url;
                },
                error: function (response) {
                }
            });
        }
    });
    });

</script>
