
@model FGMC.RMS.Web.Models.Reports


<div class="content">
   
    @if (Model.SelectedReportType == "Active Directory")
    {
        <table id="RequestSummary" class="table table-striped table-bordered" cellspacing="0">
            <thead>
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Branch</th>
                <th>Requested Date</th>
                <th>Manage Engine Ticket ID</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ADReportData)
            {
                <tr>
                    <td>@item.ADUserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.GroupName</td>
                    <td>@item.RequestDate.ToShortDateString()</td>
                    <td>@item.MERequestId</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <table id="RequestSummary" class="table table-striped table-bordered" cellspacing="0">
            <thead>
            <tr>
                <th>UserName</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Persona Name</th>
                <th>Persona Activity</th>
                <th>Requested Date</th>
                <th>Manage Engine Ticket ID</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.EncompassReportData)
            {
                <tr>
                    <td>@item.EncompassUserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.PersonaName</td>
                    <td>@(item.IsPersonaActive ? "Added" : "Removed")</td>
                    <td>@item.RequestDate.ToShortDateString()</td>
                    <td>@item.MERequestId</td>
                </tr>
            }
            </tbody>
        </table>
    }
    <span style="color: red">@Model.ErrorMessage</span>
</div>
