
@model FGMC.RMS.Web.ViewModel.ADManagerReportVM
<div class="content">
    <table id="RequestSummary" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>User Email</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Security Group Names</th>
                <th>Manager User ID</th>
                <th>Manager Email ID</th>
                <th>Manager Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AdManagerReport)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.ADUserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.SecurityGroupNames</td>
                    <td>@item.ManagerUserID</td>
                    <td>@item.ManagerEmailID</td>
                    <td>@item.ManagerName</td>
                </tr>
            }
        </tbody>
    </table>
    <span style="color: red">@Model.ErrorMessage</span>
</div>



