@model FGMC.RMS.Web.Models.DashboardModel
@{
    ViewBag.Title = "RMS :: My Requests Summary";
}
<link href="~/Content/styles.css" rel="stylesheet" />
<body>
<div class="alert alert-danger" id="ErrorInfo" style="display: none">
    <h5><span></span></h5>
</div>
<div class="content">
    <h4 class="content-title">My Requests Summary</h4>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Request</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody>
                <tr class="active">
                    <td>My Requests</td>
                    <td>@Html.DisplayFor(m => m.RequestSummary.AllRequests)</td>
                </tr>

                <tr class="success">
                    <td>My Approved Requests</td>
                    <td>@Html.DisplayFor(m => m.RequestSummary.ApprovedRequests)</td>
                </tr>

                <tr class="warning">
                    <td>My Pending Requests</td>
                    <td>@Html.DisplayFor(m => m.RequestSummary.PendingRequests)</td>
                </tr>

                <tr class="danger">
                    <td>My Denied Requests</td>
                    <td>@Html.DisplayFor(m => m.RequestSummary.DeniedRequests)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content">
        <h4 class="content-title">Profile</h4>
        <div class="row form-group">
            <div class="col-sm-6"><label>Name</label>
            </div>
            <div class="col-sm-2">@Html.DisplayFor(m=>m.UserProfile.Name)</div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6"><label>Branch</label></div>
            <div class="col-sm-6">@Html.DisplayFor(m => m.UserProfile.Location)</div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6"><label>Manager</label>
            </div>
            <div class="col-sm-2">@Html.DisplayFor(m => m.UserProfile.Manage)</div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Encompass Privileges</label>
            </div>
            <div class="col-sm-6">@Html.DisplayFor(m => m.UserProfile.EncompassPriviledge)</div>
        </div>
    </div>
</div>
</body>

@if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
{
    <script type="text/javascript">
        showInfoMsg("ErrorInfo", "@ViewBag.ErrorMessage");
        function showInfoMsg(infoWrapId, msg) {

            $('#' + infoWrapId).show();
            $('#' + infoWrapId).find('span').html(msg);
        }
    </script>
}
<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function() { null };
</script>