
@model FGMC.RMS.Web.Models.ManagerReportVM
<div class="content">
    <h4 class="content-title">Managers Reports</h4>

        <table id="RequestSummary" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Personas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EncompassManagerReportList)
                {
                    <tr>
                        <td>@item.userName</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.personas</td>
                    </tr>
                }
            </tbody>
        </table>
    <span style="color: red">@Model.ErrorMessage</span>
</div>

