@{
    Layout = null;
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/style.css" rel="stylesheet" />
   <header class="container-fluid">
        <div class="col-lg-4 col-sm-6 logo">
            <a href="#"><img src="~/Images/logo.png" /></a>
        </div>
       @*<div class="col-lg-8 col-sm-6 ">
           <h2 class="text-right"> <b>Warehouse Transfer Updater</b>
           </h2>
       </div>*@
       <style>
           .copyRight {
               float: right;
               width: 470px;
               font-size: 15px;
               font-family: calibri;
               font-weight: normal;
               color: #333;
           }
       </style>
    </header>

<h3>@TempData["ErrorMessage"] </h3>

<div>
    @Html.ActionLink("<< Back to the Login Page", "Login", "Account", null, null)
</div>

<footer class="wrap navbar-fixed-bottom">
    <p id="footerText">
        Pool Updater V1.0 - FGMC
        <span class="copyRight">
            Copyright &copy; @DateTime.Now.Year.ToString() @System.Configuration.ConfigurationManager.AppSettings["companyName"]
            @System.Configuration.ConfigurationManager.AppSettings["companyAddress"]
        </span>
    </p>

</footer>
