@model FGMC.LoanLogicsQC.Web.Models.LoanSerchResultViewModel
@{
    ViewBag.Title = "LoanSearchResults";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FGMC</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CommonStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/html5.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/LoanSearchResult.js"></script>
</head>
<body>
    <section class="container-fluid">
        <div class="contant-wrap">
            <h3>Loan Search Result</h3>
            <div id="loading" style="display: none; text-align: center; padding-top: 5px;">
                <img src="~/Images/loading.gif" width="32" height="32" />
            </div>
            <div class="alert alert-danger" id="ErrorInfo">
                <h5><span></span></h5>
            </div>
            <div class="alert alert-success" id="Sucessinfo">
                @if (Model != null)
                {
                    <h5><span>@Model.SuceessCountInfo</span></h5>
                }
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="table-responsive wrap">
                        <table class="table table-bordered table-hover table-striped text-center" id="LoanInfoTable">
                            <thead>
                                <tr>
                                    <th class="text-center" width="30px">Loan Number</th>
                                    <th class="text-center" width="30px">Borrower First Name</th>
                                    <th class="text-center" width="30px">Borrower Last Name</th>
                                    <th class="text-center" width="30px">Loan Folder</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.LoanSearchResults)
                                    {
                                        <tr>
                                            <td>@item.LoanNumber</td>
                                            <td>@item.BorrowerFirstName</td>
                                            <td>@item.BorrowerLastName </td>
                                            <td>@item.LoanFolder </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-8 loanSearchrght">
                    <h4 class="text-center">Generate Reports and Extract Document</h4>
                    <div class="row wrap">
                        <form class="form-horizontal" role="form">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Loan Logic Report Types</label>
                                    <div class="col-sm-5">
                                        @Html.DropDownListFor(m => m.LoanLogicReportTypes, Model.LoanLogicReportTypes, "Selet Report Type", new {@class = "form-control", id = "LoanLogicReportType"})
                                    </div>
                                </div>
                                <div class="form-group selectPaddT">
                                    <label class="control-label col-sm-4" for="email" id="lblPostClosedReportTypes">Post Close Report Types</label>
                                    <div class="col-sm-5">
                                        @Html.DropDownListFor(m => m.PostClosedReportTypes, Model.PostClosedReportTypes, "Select Post Close Report Type", new {@class = "form-control", id = "PostClosedReportType"})
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label col-sm-5" for="email" id="lblCopyFlieMergeFailed">Copy to SFTP If Merge Fails</label>
                                    <div class="col-sm-5">
                                        @Html.CheckBoxFor(m => m.chkCopyFlieMergeFailed, new {@class = "col-sm-1", id = "chkCopyFlieMergeFailed"})
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label col-sm-5" for="email" id="lblAllowFileConversionFailure">Continue If Conversion Failed</label>
                                    <div class="col-sm-5">
                                        @Html.CheckBoxFor(m => m.ContinueProcessOnConversionFailure, new { @class = "col-sm-1", id = "chkContinueProcessOnConversionFailure" })
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label col-sm-5" for="email">Loan for the Month of</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="Months" id="ddlMonths">
                                            <option value="0">Select Month</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                    </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right wrap">
             
                <button id="BackLoanSearch" class="btn btn-default" onclick="location.href='@Url.Action("SearchLoans", "SearchLoans")'">Back to Loan Search</button>
                <button id="BtnGenerateReports" type="button" class="btn btn-default">Generate Reports and Extract Document</button>
            </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
