@using System.Web.Configuration
@model FGMCPoolUpdater.ViewModels.UserViewModel

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FGMC</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/html5.js"></script>    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
    </script>

    <script type="text/javascript">
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
    </script> 

    <style type="text/css">
        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #ff0000;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
</head>
<body>

<section class="container-fluid">
    <div class="text-center login-logo"> @*<img src="~/Images/encompassLogo.png">*@
        <img src="~/Images/encompass-logo1.png"/>
    </div>



    <div class="login-container col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
           <div style="color: red"> @TempData["InvalidLoginError"]</div>
            <div class="form-group">
                @Html.LabelFor(a => a.UserId, new {@class = "control-label col-lg-2 text-nowrap"})
                <div class="col-lg-10">
                    @Html.TextBoxFor(a => a.UserId, new {@class = "form-control", placeholder = "Enter User ID", id = "tbxUserid"})
                    @Html.ValidationMessageFor(a => a.UserId)
                   

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Password, new {@class = "control-label col-lg-2", @for = "pwd"})
                <div class="col-lg-10">
                    @Html.TextBoxFor(a => a.Password, new {@class = "form-control", id = "tbxPassword", type = "password", placeholder = "Enter password"})
                    @Html.ValidationMessageFor(a => a.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Server, new {@class = "control-label col-lg-2", @for = "brokerCompany"})
                @{ string[] servers = Convert.ToString(WebConfigurationManager.AppSettings["Servers"]).Split(',');}
                @{List<SelectListItem> selectedItems = new List<SelectListItem>();}
                @foreach (var server in servers)
                {
                    if (!(string.IsNullOrEmpty(server) || string.IsNullOrWhiteSpace(server)))
                    {
                        selectedItems.Add(new SelectListItem() {Text = server.Trim(), Value = server.Trim()});
                    }
                }
                <div class="col-lg-10">
                    @Html.DropDownListFor(a => a.Server, selectedItems, "-Select-", new {@class = "form-control", id = "cbxServer"})
                    @Html.ValidationMessageFor(a => a.Server)
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default"  id="btnLogin">Login</button>
                    <button type="button" class="btn btn-default" id="btnClear">Clear</button>
                </div>
            </div>
        }
    </div>
</section>
    

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#importPool').DataTable();
    }); 

    $("#btnClear").click(function() {
        $("#tbxUserid").val('');
        $("#tbxPassword").val('');
        $("#cbxServer").val('');        
    });
</script>
</body>

</html>

