@model FGMC.RMS.Web.ViewModel.NewUserITSetupFormVM
@{
    ViewBag.Title = "RMS :: New Uer IT Setup Request";
}
<link href="~/Content/styles.css" rel="stylesheet" />
<script src="~/Scripts/rms/newUserITSetup.js"></script>

<body>
    <div class="content setup-request-wrap">
        <h4 class="content-title">New User IT Setup Form</h4>
        <div id="loading" style="display: none; text-align: center; padding-top: 5px;"><img src="~/Images/loading.gif" width="32" height="32" /></div>
        <form>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                General Information
                                <i class="more-less glyphicon glyphicon-minus"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div>
                                <div class="row form-row">
                                    <div class="col-lg-4">
                                        <p>First Name <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="first-name" maxlength="50" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <p>Last Name <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="last-name" maxlength="50" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <p>Title <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="title" maxlength="50" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-lg-4 bottom-margin">
                                        <p>Branch <sub class="mandatory-field">*</sub></p>
                                        @*<input type="text" id="branch" class="form-control">*@
                                        @Html.DropDownListFor(m => m.SelectedBranch, (IEnumerable<SelectListItem>)Model.Branches, "Select Branch", new { id = "branch", @class = "form-control" })
                                    </div>
                                    <div class="col-lg-4 bottom-margin">
                                        <p>Department <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="department" maxlength="50" class="form-control">
                                    </div>
                                    <div class="col-lg-4 bottom-margin">
                                        <p>Manager <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="manager" maxlength="100" class="form-control">
                                    </div>

                                </div>
                                <div class="row form-row" style="min-height:75px;">
                                    <div class="col-lg-4 bottom-margin">
                                        <p>Start Date (Full Time) <sub class="mandatory-field">*</sub></p>
                                        <input type="text" class="form-control" id="txtStartDate">
                                    </div>
                                    <div class="col-lg-4">
                                        <p>Requester <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="requester" maxlength="50" class="form-control" value="@Model.GeneralInformation.Requester">
                                    </div>
                                    <div class="col-lg-4">
                                        <p>Requester Email <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="requesteremail" maxlength="200" class="form-control" value="@Model.GeneralInformation.RequesterEmail">
                                        <label style="color: #b94a48; display:none" id="requesterEmailInvalidFormatErrorMessage">Invalid format. Please use valid format.</label>
                                    </div>
                                </div>
                                <div class="row form-row" style="min-height:65px;">
                                    <div class="col-lg-4" title="Training Location is required if Yes.">
                                        <p>Will Receive Training from FGMC <sub class="mandatory-field">*</sub></p>
                                        <div>
                                            <div class="inline-block">
                                                <input type="radio" name="fgmc-training" id="fgmc-taining-yes" />
                                                <label for="fgmc-taining-yes">Yes</label>
                                            </div>
                                            <div class="inline-block">
                                                <input type="radio" name="fgmc-training" id="fgmc-taining-no" />
                                                <label for="fgmc-taining-no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 fgmc-training-required">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p>Training Location <sub class="mandatory-field">*</sub></p>
                                                <input type="text" id="traininglocation" maxlength="50" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <p>Training Date <sub class="mandatory-field">*</sub></p>
                                                <input type="text" id="trainingdate" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Applications/External Systems
                                <i class="more-less glyphicon glyphicon-plus"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-row">
                                <p>Check All That Apply</p>
                                <div class="row">
                                    @foreach (var item in Model.ApplicationsOrExtenalSystems.AllExternalSystems)
                                    {
                                        <div class="col-lg-3">
                                            <input type="checkbox" name="external-systems" id="dynamic_@item.Id" />
                                            <label data-labelfor="dynamic_@item.Id" for="@item.Name">@item.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-row model-360-after">
                                <div class="" title="Please specify an existing employee who we should duplicate E360 access from.">
                                    <p>Model E360 after <sub class="mandatory-field">*</sub></p>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="text" id="modelE360after" class="form-control" maxlength="100" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-row investor-portal-row">
                                <p>If Investor Portal(s) Access is selected <sub class="mandatory-field">*</sub></p>
                                <div class="">
                                    @foreach (var item in Model.ApplicationsOrExtenalSystems.AllInvestorPortals)
                                    {
                                        <div class="inline-block">
                                            <input type="checkbox" name="bank" id="dynamic_@item.Id" />
                                            <label data-labelfor="dynamic_@item.Id" for="@item.Name">@item.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-row status">
                                <p>After Investors are selected <sub class="mandatory-field">*</sub></p>
                                <div class="">
                                    @foreach (var item in Model.ApplicationsOrExtenalSystems.AllMilestones)
                                    {
                                        <div class="inline-block">
                                            <input type="radio" name="status" id="dynamic_@item.Id" />
                                            <label data-labelfor="dynamic_@item.Id" for="@item.Name">@item.Name</label>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="form-row">
                                <p>Other</p>
                                <textarea class="form-control text-box" maxlength="500" id="extenalSystemsOther"></textarea>
                            </div>
                            <div class="form-row" title="Please list all Email Groups the new user should be added to.">
                                <p>Email Groups <sub class="mandatory-field">*</sub></p>
                                <textarea class="form-control text-box" maxlength="5000" id="emailGroups"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Automated Underwriting Systems
                                <i class="more-less glyphicon glyphicon-plus"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-row">
                                <p>Check All That Apply</p>
                                <div class="row">

                                    @foreach (var item in Model.AutomatedUnderwritingSystems.AllUnderwritingSystems)
                                    {
                                        <div class="col-lg-6">
                                            <input type="checkbox" name="automated-underwriting" id="dynamic_@item.Id" />
                                            <label data-labelfor="dynamic_@item.Id" for="@item.Name">@item.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <p>Notes</p>
                                <textarea class="form-control text-box" maxlength="5000" id="automatedunderwritingsystemsNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Computer/Network Resources <i class="more-less glyphicon glyphicon-plus"></i></a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-row">
                                <p>Check All That Apply</p>
                                <div class="">
                                    @foreach (var item in Model.ComputerOrNetworkResources.AllCompOrNetworkResources)
                                    {
                                        <div class="inline-block">
                                            <input type="checkbox" name="network-resources" id="dynamic_@item.Id" />
                                            <label data-labelfor="dynamic_@item.Id" for="@item.Name">@item.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-row row printer-name">
                                <div class="col-lg-4">
                                    <p>Printer Name <sub class="mandatory-field">*</sub></p>
                                    <input type="text" id="printerName" maxlength="50" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <p>Secured Shared Drives</p>
                                <textarea class="form-control text-box" maxlength="500" id="securedSharedDrives"></textarea>
                            </div>
                            <div class="form-row">
                                <p>Remote Access</p>
                                <div class="inline-block">
                                    <input type="radio" name="remote-access" id="remote-access-yes" />
                                    <label for="remote-access-yes">Yes</label>
                                </div>
                                <div class="inline-block">
                                    <input type="radio" name="remote-access" id="remote-access-no" />
                                    <label for="remote-access-no">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Phone Resources<i class="more-less glyphicon glyphicon-plus"></i></a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-row">
                                <p>Check All That Apply</p>
                                @foreach (var item in Model.PhoneResources.AllPhoneResources)
                                {
                                    <div class="inline-block">
                                        <input type="checkbox" name="phone-resources" id="dynamic_@item.Id" />
                                        <label data-labelfor="dynamic_@item.Id" for="@item.Name">@item.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Misc. Requirements/Notes <i class="more-less glyphicon glyphicon-plus"></i></a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-row" title="Shipping Address is required if Yes.">
                                <p>Off-Site Employee</p>
                                <div class="">
                                    <div class="inline-block">
                                        <input type="radio" name="offsite" id="offsite-yes" />
                                        <label for="offsite-yes">Yes</label>
                                    </div>
                                    <div class="inline-block">
                                        <input type="radio" name="offsite" id="offsite-no" />
                                        <label for="offsite-no">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row shipping-address">
                                <p>Shipping Address <sub class="mandatory-field">*</sub></p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>Street Address <sub class="mandatory-field">*</sub></p>
                                        <input type="text" maxlength="200" id="streetAddress" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>Address Line 2</p>
                                        <input type="text" maxlength="200" id="addressLine2" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>City <sub class="mandatory-field">*</sub></p>
                                        <input type="text" maxlength="100" id="city" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>State / Province / Region <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="state" maxlength="100" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>Postal / Zip Code <sub class="mandatory-field">*</sub></p>
                                        <input type="text" id="zipcode" maxlength="20" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <p>Country <sub class="mandatory-field">*</sub></p>
                                        @*<input type="text" id="country" class="form-control">*@
                                        @Html.DropDownListFor(m => m.SelectedCountry, (IEnumerable<SelectListItem>)Model.Countries, "Select Country", new { id = "country", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <p>Notes</p>
                                <textarea class="form-control text-box" maxlength="5000" id="miscRequirementsNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row top-margin">
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-default btn-submit" id="btnSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
