@model FGMC.LoanLogicsQC.Web.Models.LoanSearchViewModel
@{
    ViewBag.Title = "Search Loans";
}
<head>
    <title>FGMC</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
    <script src="~/Scripts/html5.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CommonStyleSheet.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/LoanSearch.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }

        setTimeout("preventBack()", 0);
        window.onunload = function() { null };
    </script>
</head>

<div class="newMenuBar" id="newMenuBar">
    <ul class="home-nav text-left">
@if (Session["IsAdmin"] != null)
{
    if ((bool) Session["IsAdmin"])
     {
         <li>@Html.ActionLink("Manage Users", "UserDetails", "ManageUser") </li>
     }
}

@if (Session["IsAdmin"] != null)
{
    if ((bool) Session["IsAdmin"])
     {
         <li>@Html.ActionLink("Manage Configurations", "Configurator", "ApplicationConfiguration") </li>
     }
}
        @*@if (Session["CurrentlyLoggedInUser"] != null)
        {
            <li>@Html.ActionLink("Reports", "Report", "GenerateReport") </li>
        }*@
    </ul>

</div>

<body>
    <section class="container-fluid">
        <div class="alert alert-danger" id="ErrorInfo">
            <h5><span></span></h5>
        </div>
        <div class="contant-wrap">
            <h3>Search Loan</h3>
            <div class="form-wrap marB15">
                <div class="row wrap">
                        <form method="post" class="form-horizontal" id="SearchLoan" role="form" action="@Url.Action("SearchLoanResponse", "SearchLoans")">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="Number">Loan Number: </label>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(m => m.LoanNumber, 2, 3, new { @class = "form-control", id = "txtLoanNumber", onkeypress = "return isNumber(event)" })
                                        @Html.ValidationMessageFor(model => model.LoanNumber)
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="loanFolder">Loan Folder: </label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(m => m.LoanFolder, Model.ConfigLoanFolders, "All Folders", new { @class = "form-control", id = "loanFolder" })
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-lg-8 text-right">
                                @*<a href="loan-search-result.html" class="btn btn-default">Search Loan</a>*@
                            <button type="submit"  id="btnTxtSearchLoans" onclick="return DisableControl();"  class="btn btn-default">Search Loans</button>
                            </div>
                        </form>
                </div>
            </div>
                <div class="form-wrap marB15">
                    <h3>Import Loan Number and Search</h3>
                    <div class="row wrap">
                        <div>
                                @Html.ActionLink("Template Download", "TemplateDownload", null, new { id = "TemplateDownload",style="margin-left:12px;" })
                            </div>
                        <form class="form-inline wrap" role="form" id="ImportSearchLoan" method="POST" action="@Url.Action("SearchImportLoans", "SearchLoans")">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="email">Select Loan Data File:</label>
                                        @Html.TextBoxFor(m=>m.LoansImportFile, null, new { type = "file", id = "btnfilechange", @class = "form-control", accept = ".xlsx, .xls" })
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="Excel">Select Excel Sheet:</label>
                                        @Html.DropDownListFor(m=>m.LoansImportSheet, Enumerable.Empty<SelectListItem>(), "Select Excel Sheet", new { id = "Excel", @class = "form-control ddlProjectvalue" })
                                    </div>
                                    <button type="button" id="btnOpenExcel" class="btn btn-default">Open Excel File</button>
                                </div>
                                <div class="col-lg-2 text-right">
                                    @*<a href="loan-search-result.html" class="btn btn-default">Search Loan</a>*@
                                    <button type="submit" id="btnImportSearchLoan" onclick="return DisableControl1();" class="btn btn-default" disabled>Search Loans</button>
                                </div>
                            </div>
                        </form>
                        <div class="wrap">
                            <div class="instructions" id="lblImportLoanList" style="height:100px; overflow: auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
        {
            <script type="text/javascript">
                function showInfoMsg(infoWrapId, msg) {

                    $('#' + infoWrapId).show();
                    $('#' + infoWrapId).find('span').html(msg);

                }
                showInfoMsg("ErrorInfo", "@ViewBag.ErrorMessage");
            </script>
        }

<script>

    //$('#txtLoanNumber').on("keyup", function () {
    //    $('#btnTxtSearchLoans')
    //                  .prop("disabled",
    //                          $('#txtLoanNumber').val().length == 0);
    //}).keyup();

  
    function isNumber(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        if (key.length == 0) return;
        var regex = /^[0-9.,\b\r\n]+$/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    function DisableControl() {
        $("#ErrorInfo").css('display', 'none');
        $("#Excel").attr("disabled", "disabled");
        $("#btnfilechange").attr("disabled", "disabled");
        $("#btnImportSearchLoan").attr("disabled", "disabled");
        $("#btnOpenExcel").attr("disabled", "disabled");
    }

    function DisableControl1() {
        $("#ErrorInfo").css('display', 'none');
        $("#txtLoanNumber").attr("disabled", "disabled");
        $("#loanFolder").attr("disabled", "disabled");
        $("#Excel").attr("disabled", "disabled");
        $("#btnfilechange").attr("disabled", "disabled");
        $("#btnTxtSearchLoans").attr("disabled", "disabled");
        $("#btnOpenExcel").attr("disabled", "disabled");
    }
    
    
</script>
    </section>
</body>
